.lang-container {
  display: flex;
  flex-direction: column;
  font-size: 80%;
}

.lang-container__item {
  padding: 6px;
}

.is-not-active {
  display: none;
}

@media (min-width: 400px) {
  .lang-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lang-container__item {
    padding: 14px;
    flex-basis: 50%;
  }
}

@media (min-width: 700px) {
  .lang-container__item {
    flex-basis: 25%;
  }
}