body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;;
}

/* box-sizing property is not inherited */
* {
  box-sizing: border-box; 
}

header {
  max-width: 1024px;
  margin: auto;
  padding: 14px;
  border-bottom: 1px solid gray;
  background-color: #fafafb;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: #07c;
}

.main {
  max-width: 1024px;
  margin: auto;
  padding: 14px;
}

@media only screen and (min-width: 700px) {
  header {
    font-size: 120%;
  }
}